@mixin animation-property($translatez) {
    transform: translateZ($translatez);
    @extend %animation-common;
}
@mixin flex($direction, $justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
    align-items: $align-items;
}
@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
//// media query mixin con istruzioni condizionali
@mixin respond($breakpoint) {
    @if $breakpoint == mobile {
        @media screen and (max-width: 375px) {
            @content;
        }
    }
    @if $breakpoint == tab {
        @media screen and (max-width: 562px) {
            @content;
        }
    }
    @if $breakpoint == small-desktop {
        @media screen and (max-width: 1250px) {
            @content;
        }
    }
    @if $breakpoint == big-desktop {
        @media screen and (min-width: 2543px) {
            @content;
        }
    }
}
