%animation-common {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
%animation-perspective {
    perspective: 150rem;
    position: relative;
    /// prospettiva aumentata su mozilla per problemi di aliasing
    @-moz-document url-prefix() {
        -moz-perspective: 10000rem;
    }
}
%full-div {
    width: 100%;
    height: 100%;
}
