:root {
    --color-white:#fffffa;
    --color-gray-dark:#333138;
    --color-gray-medium:#515052;
    --color-red:#ff312e;
}
/// unica variabile colore che server come scss perche va usata con rgba
$color-black:#000103;