:root {
    --color-green: #5cbdb9;
    --color-tiny-greeny: #ebf6f5;
    --color-pinky: #fbe3e8;
    --color-white: #ffff;
    --color-dark-purple:#0c0032;
    --color-medium-purple:#240090;
    --color-light-purple:#3500d3;
    --color-gray:#282828;
}
  