.container__cd {
    flex: 0 0 34.2rem;
    min-height: 34.2rem;
    max-height: 34.2rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;

    &:hover &__side {
        transform: rotateY(180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }

    &:not(:last-child) {
        margin-right: 2rem;
    }
    &__side {
        padding: 2rem;
        height: 100%;
        width: 100%;
        transition: all 0.9s;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;
        &--back {
            transform: rotateY(180deg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--color-light-purple);
            font-weight: 600;
            background: rgb(2, 0, 36);
            background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 50%);
            transform-style: preserve-3d;
            & p {
                margin-bottom: 2rem;
                font-size: 1.5rem;
                transform: translateZ(10rem);
                backface-visibility: hidden;
            }
        }
        &--front {
            max-width: 100%;
            max-height: 100%;
            background: linear-gradient(135deg, rgba(0, 212, 255, 1) 50%, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 50%);
            transform-style: preserve-3d;
            backface-visibility: hidden;
        }
    }
    &-img {
        width: 100%;
        height: 100%;
        position: relative;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: translateZ(5rem);
        }
    }
    &-text {
        width: 80%;
        height: 80%;
        border: 5px solid yellowgreen;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translateZ(10rem);
        backface-visibility: hidden;
    }
}
