.nav {
    position: sticky;
    min-height: 8rem;
    width: 100%;
    background-color: $color-black;
    top: 0;
    left: 0;
    z-index: 20;
    @include flex(row, flex-start, stretch);
    &__artist {
        flex: 1;
        color: #fff;
        @include flex(row, space-around, stretch);
        font-size:2rem;
        list-style: none;
        padding: 1.5rem;
        &-name{
            @include flex(row, center,center);
            cursor: pointer;
            position: relative;
            color:var(--color-gray-medium);
            transition: all .2s;
            &::before {
                content:'';
                width:3px;
                height: 100%;
                position: absolute;
                left: -10%;
                top: 0;
                background: var(--color-red);
                transition: all .2s;
                z-index: -1;
                
            }
            &:hover{
                color: #fff;
            }
            &:hover.nav__artist-name::before{
                width: 120%;
                z-index: -1;
            }
        }
    }
}
