.nav {
    position: sticky;
    min-height: 8rem;
    width: 100%;
    background-color: $color-black;
    top: 0;
    left: 0;
    z-index: 20;
    @include flex(row, flex-start, stretch);
    &__artist {
        flex: 1;
        @include flex(row, space-around, stretch);
        font-size: 2rem;
        list-style: none;
        padding: 1.5rem;
        &-name {
            @include flex(row, center,center);
            cursor: pointer;
            position: relative;
            color: var(--color-gray-medium);
            transition: all 0.2s;
            flex: 0.1;

            &::before {
                @extend %pseudo-nav;
            }
            &::after {
                @extend %pseudo-nav;
            }
            &:hover {
                color: #fff;
            }
            &:active {
                transform: scale(0.9);
            }
            &:hover.nav__artist-name::before {
                width: 100%;
            }
            &:hover.nav__artist-name::after {
                width: 100%;
            }
        }
    }
}
