.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.container-content {
    @include flex (row,center,flex-start);
    max-width: 100%;
    flex: 1;
    flex-wrap: wrap;
    padding:$padding-container;
    background-color: var(--color-gray-dark);
    color: #fff;
    padding-bottom: 5rem;
    @include respond(small-desktop){
        padding:0 0 5rem 0;
        @include flex (row,center,center);
    }
}
